body{background-image: url("assets/MusicFlow.png");
    background-size: cover;
    font-family: "Playwrite AT", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

h1{color:rgb(82, 34, 121)}
h2{color:rgb(44, 149, 134)}